root = "."
tmp_dir = "tmp"

[env]
  TEMPL_EXPERIMENT = "rawgo" # Set the rawgo experiment flag

[build]
  bin = "./tmp/main"
  cmd = "go tool templ generate; if ($?) { go build -o ./tmp/main.exe . }"
  delay = 1000
  exclude_dir = ["frontend-bundle", "static", "db"]
  exclude_file = []
  exclude_regex = [".*_templ.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "templ", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false