$font-familly-base: "Roboto" !default;

// custom color nav-link
$nav-underline-gap: 1.2rem;
$nav-link-color: #000;
$nav-link-hover-color: #0DB2BA !default;
$nav-underline-link-active-color: #0DB2BA !default;
